.draggable {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background: #02396d;
  color: white;
  text-align: center;
  cursor: pointer;
}

.draggableBlock {
  padding: 0px;
  margin-bottom: 0px;
  position: absolute;
  right: 250px;
}

.droppable {
  margin-bottom: 10px;
  width: 100px
}

.tipDroppableImg{
  margin-bottom: 10px;
  width: 100px;
  color: #930; /* Цвет текста */
}

.tipDroppableInput{
  margin-bottom: 10px;
  width: 100px;
  background-color: #02396d;
  color: white; /* Цвет текста */
  outline: 0 !important;
  text-align: center;
}

.space45 {
  margin-left: 45px;
}

.VerticalContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-right: 0px;
  width: 100px
}

.thumb img {
  -webkit-filter: grayscale(0);
  filter: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #a6acab;
}

.thumb img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.thumb {
  padding: 5px;
}

.taskResult {
  position: absolute;
  margin-left: 50%;
  margin-top: 65px;
  width: 100px;
  height: 100px
}