.search {
  /* устанавливаем необходимую ширину формы в зависимости от дизайна
  ** форма без проблем раст€гиваетс€ */
  width: 35%;

  /* кнопку отправки будем позиционировать абсолютно,
  ** поэтому необходимо это свойство */
  position: relative;
}



/* оформл€ем кнопку отправки */
.submit {
  
  /* отключаем бордюры у инпутов */
  border: none;

  /* позиционируем кнопку абсолютно от правого кра€ формы */
  position: absolute;
  top: 0;
  right: 0;

  width: 37px;

  /* раст€гиваем кнопку на всю высоту формы */
  height: 100%;

  cursor: pointer;
  background: url(go.png) 50% no-repeat;

  /* добавл€ем прозрачность кнопке отправки */
  opacity: 0.5;
}

/* при наведении курсора мен€ем прозрачность кнопки отправки */
.submit:hover {
  opacity: 0.8;
}

.searchdiv {
  /* устанавливаем необходимую ширину формы в зависимости от дизайна
  ** форма без проблем раст€гиваетс€ */
  width: 35%;

  /* кнопку отправки будем позиционировать абсолютно,
  ** поэтому необходимо это свойство */
  position: relative;
}

/* оформл€ем кнопку отправки */
.submit2 {
  
  /* отключаем бордюры у инпутов 
  border: none;*/

  /* позиционируем кнопку абсолютно от правого кра€ формы */
  position: absolute;
  top: 0;
  right: 0;

  width: 37px;

  /* раст€гиваем кнопку на всю высоту формы */
  height: 100%;

  cursor: pointer;
  background: url(go.png) 50% no-repeat;

  /* добавл€ем прозрачность кнопке отправки */
  opacity: 0.5;
}

/* при наведении курсора мен€ем прозрачность кнопки отправки */
.submit2:hover {
  opacity: 0.8;
}
