.sad_total {
    background-color: #a1beec;
}

.sad_close {
    max-width: 15px;
    max-height: 15px;
    right: 5px;
}

.sad_block {
    min-height: 100%;
    min-width: 100%;
    margin-top: -70px;
    position: absolute;
    margin: 20px 0;
    padding: 10px;
}

.sad_panel {
    border-radius: 0.25em;
    background: white;
    box-shadow: 0 7px 20px 3px rgba(70, 70, 70, 0.25);
    /*padding: 0.3em;*/
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-40%, -25%);
    min-height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sad_item {
    border-radius: 0.25em;
    background: white;
    padding: 0.5em;
    text-align: center;
    min-width: 350px;
    min-height: 250px;
}

.sad_item.active {
    position: relative;
    transform: translateY(40px);
    z-index: 1;
}

.sad_item.hide {
    display: none;
}

@media screen and (max-width: 1000px) {
    .sad_panel {
        margin-top: 40%;
        flex-direction: column;
    }
    .sad_item.active {
        transform: scale(1.2, 1.2);
    }
}

.sad_img {
    min-width: 50px;
    min-height: 50px;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
}

.sad_title {
    margin-top: 20px;
    color: rgb(83, 117, 211);
    font-weight: bold;
}

.sad_title big {
    font-size: 220%;
    /* Размер шрифта в процентах */
}

.sad_title sup {
    font-size: 100%;
    /* Размер шрифта в процентах */
    vertical-align: text-top;
    top: -.3em;
}

.sad_text {
    color: rgb(141, 141, 141);
    max-width: 220px;
    margin: auto;
    margin-top: 20px;
}

.sad_panelItem {
    display: none;
    flex-direction: row;
}

.sad_panelItem.active {
    display: flex;
}

.sad_panelItemTitle {
    margin: auto;
    font-weight: bold;
}

.sad_button {
    display: none;
    background: rgb(31, 48, 197);
    color: #ffffff;
    width: 150px;
    height: 30px;
    border: 1px solid rgb(31, 48, 197);
    outline: none;
    box-shadow: 0.1em 0.1em 5px rgba(122, 122, 122, 0.5);
    /*padding: 10px;*/
    margin: auto;
    /*margin-left: 50px;*/
    margin-top: 20px;
    transition: all 0.3s ease-out;
}

.sad_button.active {
    display: block;
}

.sad_button:hover {
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.6), 0 2px 2px rgba(0, 0, 0, 0.1), 0 0 4px 1px rgba(0, 255, 255, 0.3);
}

.sad_button:active {
    position: relative;
    top: 1px;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 0.3s ease;
}