.error {
    width: 350px;
    height: 50px;
    margin: auto;
    border: 4px ridge Orange;
    padding: 10px 0 10px;
    text-align: center;
    font-size: 14px;
    background-color: #FFBABA;
    color: Black;
    -moz-transition: border 1s ease, color 1.5s ease, font 1.5s ease, background-color 2s ease;
    -o-transition: border 1s ease, color 1.5s ease, font 1.5s ease, background-color 2s ease;
    -webkit-transition: border 1s ease, color 1.5s ease, font 1.5s ease, background-color 2s ease;
}

.error:hover {
    background-color: #D0D941;
    color: Red;
    font: italic 16px COMIC SANS MS;
    border: 4px ridge rgb(255, 0, 0);
}